# Strings

In [1]:
# You can use both kind of quotes to avoid ending a string before than expected.
'hello'

'hello'

In [2]:
"world"

'world'

In [3]:
'this is also a string'

'this is also a string'

In [4]:
" I'm going on a run"

" I'm going on a run"

In [5]:
print("hello")

hello

In [6]:
#If you don't use print function then you only will get the last typed string
"hello world one"
"hello world two"

'hello world two'

In [7]:
print("hello world one")
print("hello world two")

hello world one
hello world two

In [8]:
print('hello \nworld')

hello
world

In [9]:
#len is used to get the length of the string
len('hello')

5

In [10]:
len('I am')

4

# String Indexing and Slicing

In [11]:
mystring = "Hello World"

In [12]:
mystring

'Hello World'

In [13]:
mystring[0]

'H'

In [14]:
mystring[8]

'r'

In [15]:
mystring[9]

'l'

In [16]:
#You can also use reverse indexing when you gonna take a character that is close to the end of the string. For this you use negative index
mystring[-2]

'l'

In [17]:
mystring[-3]

'r'

In [18]:
mystring = 'abcdefghijk'

In [19]:
mystring

'abcdefghijk'

In [20]:
mystring[2:]

'cdefghijk'

In [21]:
#The limit refers up to but not including
mystring[:3]

'abc'

In [22]:
mystring[3:6]

'def'

In [23]:
mystring[1:3]

'bc'

In [24]:
#step size, is the third arguments and equals the number of jumps
mystring[::2]

'acegik'

In [25]:
mystring[2:7:2]

'ceg'

In [26]:
#if you put negative step then you'll reverse the string
mystring[::-1]

'kjihgfedcba'

# Inmutability of Strings
Strings can't mutate or be modified in small parts.

This means that we can't modify a single character of the string unless we create another one

Strings are not mutable! (meaning you can't use indexing to change individual elements of a string)

In [28]:
name = "Sam"
#name[0] = 'P'

In [30]:
last_letters = name[1:]

In [31]:
last_letters

'am'

In [32]:
'P' + last_letters

'Pam'

In [33]:
x = 'Hello World'

In [38]:
x = x + " it is beautiful outside!"

In [40]:
x

'Hello World it is beautiful outside it is beautiful outside!'

It is possible to make multiple String concatenations at once with the following instructions

Example

In [41]:
letter = 'z'

In [42]:
letter*10

'zzzzzzzzzz'

This only works when the whole String is conformed by characters and not numbers, if our whole String is a number we'll get a logic error.


Example

In [45]:
2+3

5

In [46]:
#This works and makes sense cause both are numbers and then an addition is made. Python is not working with them as strings and alternatively they're being represented as numbers.

In [50]:
#The problem happens when we try to do this:
number1 = "2" 
number2 = "3"

In [52]:
#Instead of making an addition they're gonna be concatenated
number1+number2
#Also can be represented as
'2' + '4'

'24'

# Methods

In [53]:
x = "Hello World"

In [56]:
x.upper() #This uppercase the whole string.  It is not in place which means it doesn't affect the original string

'HELLO WORLD'

In [58]:
#If you'd like that the string be replaced then must be reassigned
x = x.upper()

In [59]:
x

'HELLO WORLD'

In [60]:
x = "Hello World"

In [62]:
#If you don't put the parentheses  then Python will tell you what it is
x.upper

In [64]:
#Also exists the lower method that lowercase the whole string
x.lower()

'hello world'

In [66]:
#Split method allows you make create a quickly list of the string.
x.split()
#It splits everytime is founded any space on the string

['Hello', 'World']

In [68]:
#Also can be splitted based on characters. For example we could split it each time is founded an L in "Hello World"
x.split('l')

['He', '', 'o Wor', 'd']